@import "./animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}
.page {
    @apply  min-h-screen w-full px-20 py-16 pt-32;
}

.card {
    @apply bg-gray-700 rounded-xl shadow-lg p-8 transition duration-300 ease-in-out;
    position: relative;
    transform-style: preserve-3d;
    border: 4px solid black;
    box-shadow: 14px 14px 0 -4px #3f3080, 14px 14px 0 0 black;
}

.card:hover {
    transform: translateY(10px) translateX(10px);
    box-shadow: 4px 4px 0 -4px transparent, 4px 4px 0 0 transparent;
}


.card-float {
    animation: floating-card 2s infinite;
}

.card-slide-top {
    animation: slide-from-top 1s;
}


.card-slide-bottom {
    animation: slide-from-bottom 1s;
}

.card-slide-left {
    animation: slide-from-left 1s;
}

.card-slide-right {
    animation: slide-from-right 1s;
}

.img {
    background-image: url('https://plus.unsplash.com/premium_photo-1732283132754-daee0ffcad4b?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    @apply bg-cover bg-center;
}

.tag {
    @apply bg-[#3f3080] rounded-lg px-2 py-1 border-2 border-black shadow-md text-white font-semibold;
}
